node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

ios/
android/
.idea/
.vscode/

.DS_Store

build/
*.fpbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

.gradle
local.properties
*.iml

yarn-error.log
metro-cache/

buck-out/
\.buckd/
*.keystore

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

*.jsbundle



